In [57]:
import pandas as pd
import numpy as np

In [58]:
#Load dataset into dataframe
df = pd.read_csv('NYPD_Arrest_Data__Year_to_Date_.csv')

In [59]:
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,239553009,01/23/2022,464.0,JOSTLING,230.0,JOSTLING,PL 1652501,M,Q,110,1,25-44,M,BLACK,1027679,214505,40.755336,-73.843245,POINT (-73.84324519 40.75533648)
1,239922214,01/31/2022,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1601502,F,K,69,0,25-44,M,BLACK,1010576,175628,40.648698,-73.905128,POINT (-73.905128 40.648698)
2,239939130,02/01/2022,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,61,0,65+,M,WHITE,995118,155708,40.594054,-73.960866,POINT (-73.960866 40.594054)
3,240521791,02/13/2022,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,28,0,45-64,M,BLACK,997124,233883,40.808623,-73.953492,POINT (-73.953492 40.808623)
4,241022365,02/21/2022,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",105.0,ROBBERY,PL 1600500,F,K,76,0,45-64,M,BLACK,986331,190452,40.689425,-73.992493,POINT (-73.992493 40.689425)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189774 entries, 0 to 189773
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                189774 non-null  int64
 1   ARREST_DATE               189774 non-null  object
 2   PD_CD                     189213 non-null  float64
 3   PD_DESC                   189774 non-null  object
 4   KY_CD                     189204 non-null  float64
 5   OFNS_DESC                 189774 non-null  object
 6   LAW_CODE                  189774 non-null  object
 7   LAW_CAT_CD                188027 non-null  object
 8   ARREST_BORO               189774 non-null  object
 9   ARREST_PRECINCT           189774 non-null  int64
 10  JURISDICTION_CODE         189774 non-null  int64
 11  AGE_GROUP                 189774 non-null  object
 12  PERP_SEX                  189774 non-null  object
 13  PERP_RACE                 189774 non-null  object
 14  X_COORD_CD                189774 non-null  int64
 15  Y_COORD_CD                189774 non-null  int64
 16  Latitude                  189774 non-null  float64
 17  Longitude                 189774 non-null  float64
 18  New Georeferenced Column  189774 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 27.5+ MB

In [61]:
#Check null values
df.isnull().sum()

ARREST_KEY                     0
ARREST_DATE                    0
PD_CD                        561
PD_DESC                        0
KY_CD                        570
OFNS_DESC                      0
LAW_CODE                       0
LAW_CAT_CD                  1747
ARREST_BORO                    0
ARREST_PRECINCT                0
JURISDICTION_CODE              0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64

In [62]:
#Convert datatypes
df.convert_dtypes()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,239553009,01/23/2022,464,JOSTLING,230,JOSTLING,PL 1652501,M,Q,110,1,25-44,M,BLACK,1027679,214505,40.755336,-73.843245,POINT (-73.84324519 40.75533648)
1,239922214,01/31/2022,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601502,F,K,69,0,25-44,M,BLACK,1010576,175628,40.648698,-73.905128,POINT (-73.905128 40.648698)
2,239939130,02/01/2022,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211200,F,K,61,0,65+,M,WHITE,995118,155708,40.594054,-73.960866,POINT (-73.960866 40.594054)
3,240521791,02/13/2022,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,28,0,45-64,M,BLACK,997124,233883,40.808623,-73.953492,POINT (-73.953492 40.808623)
4,241022365,02/21/2022,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1600500,F,K,76,0,45-64,M,BLACK,986331,190452,40.689425,-73.992493,POINT (-73.992493 40.689425)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189769,261130673,12/30/2022,779,"PUBLIC ADMINISTRATION,UNCLASSI",126,MISCELLANEOUS PENAL LAW,PL 215510B,F,Q,104,0,18-24,M,WHITE HISPANIC,1013631,194630,40.700844,-73.894037,POINT (-73.894037 40.700844)
189770,261170467,12/31/2022,244,"BURGLARY,UNCLASSIFIED,UNKNOWN",107,BURGLARY,PL 1402000,F,K,67,0,25-44,M,BLACK,997897,175676,40.648859,-73.95082,POINT (-73.95082 40.648859)
189771,261171884,12/31/2022,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,32,0,25-44,F,BLACK,1001767,238881,40.822332,-73.936708,POINT (-73.936708 40.822332)
189772,261176549,12/31/2022,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211200,F,Q,104,0,45-64,M,WHITE,1013705,203137,40.724193,-73.893732,POINT (-73.893732 40.724193)
189773,261140558,12/30/2022,339,"LARCENY,PETIT FROM OPEN AREAS,",341,PETIT LARCENY,PL 1552500,M,M,24,0,65+,M,WHITE,992263,229152,40.795642,-73.971057,POINT (-73.971057 40.795642)

In [63]:
#Dropping columns
df = df.drop(columns=['ARREST_KEY', 'PD_DESC', 'ARREST_PRECINCT', 'JURISDICTION_CODE', 'X_COORD_CD', 'Y_COORD_CD', 'KY_CD', 'PD_CD'])

In [64]:
#renaming columns
df = df.rename(columns={'ARREST_DATE': 'Arrest Date', 'LAW_CODE': 'Law Code', 'OFNS_DESC': 'Offense description', 'AGE_GROUP': 'Age Group', 'PERP_SEX': 'Perpetrator Sex', 'PERP_RACE': 'Perpetrator Race', 'LAW_CAT_CD': 'Offense Level', 'ARREST_BORO': 'Borough'})

In [65]:
df

,Arrest Date,Offense description,Law Code,Offense Level,Borough,Age Group,Perpetrator Sex,Perpetrator Race,Latitude,Longitude,New Georeferenced Column
0,01/23/2022,JOSTLING,PL 1652501,M,Q,25-44,M,BLACK,40.755336,-73.843245,POINT (-73.84324519 40.75533648)
1,01/31/2022,ROBBERY,PL 1601502,F,K,25-44,M,BLACK,40.648698,-73.905128,POINT (-73.905128 40.648698)
2,02/01/2022,FELONY ASSAULT,PL 1211200,F,K,65+,M,WHITE,40.594054,-73.960866,POINT (-73.960866 40.594054)
3,02/13/2022,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,45-64,M,BLACK,40.808623,-73.953492,POINT (-73.953492 40.808623)
4,02/21/2022,ROBBERY,PL 1600500,F,K,45-64,M,BLACK,40.689425,-73.992493,POINT (-73.992493 40.689425)
...,...,...,...,...,...,...,...,...,...,...,...
189769,12/30/2022,MISCELLANEOUS PENAL LAW,PL 215510B,F,Q,18-24,M,WHITE HISPANIC,40.700844,-73.894037,POINT (-73.894037 40.700844)
189770,12/31/2022,BURGLARY,PL 1402000,F,K,25-44,M,BLACK,40.648859,-73.950820,POINT (-73.95082 40.648859)
189771,12/31/2022,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,25-44,F,BLACK,40.822332,-73.936708,POINT (-73.936708 40.822332)
189772,12/31/2022,FELONY ASSAULT,PL 1211200,F,Q,45-64,M,WHITE,40.724193,-73.893732,POINT (-73.893732 40.724193)
189773,12/30/2022,PETIT LARCENY,PL 1552500,M,M,65+,M,WHITE,40.795642,-73.971057,POINT (-73.971057 40.795642)

In [66]:
#converting datatypes
df['Arrest Date'] = pd.to_datetime(df['Arrest Date'])

In [67]:
#Replacing abreviations
df['Perpetrator Sex'] = df['Perpetrator Sex'].replace(['F', 'M'], ['Female', 'Male'])
df['Borough'] = df['Borough'].replace(['B', 'S', 'K', 'M', 'Q'], ['Bronx', 'Staten island', 'Brooklyn', 'Manhattan', 'Queens'])
df['Offense Level'] = df['Offense Level'].replace(['F', 'M', 'V'], ['Felony', 'Misdemeanor','Violation'])

In [68]:
#REMOVING ROWS WITH MISSING VALUES
df = df.dropna()

In [69]:
#REMOVING DUPLICATE VALUES
df = df.drop_duplicates()

In [70]:
#Save the cleaned dataset
df.to_csv('NYPD_Arrest_Data__Year_to_Date_cleaned.csv', index=False)